/* src/components/Home.css */

/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Container styles */
.home-container {
    font-family: 'Arial', sans-serif;
    width: 100%;
    min-height: 100vh; /* Ensure at least the height of the viewport */
    display: flex;
    flex-direction: column;
}

/* Navbar styles */
.navbar {
    background-color: #4CAF50;
    padding: 1rem;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand h1 {
    font-size: 1.5rem;
}

.navbar-links a {
    color: white;
    margin-left: 1.5rem;
    text-decoration: none;
}

/* Hero Section styles */
.hero-section {
    background-image: url('../assets/istockphoto-90634594-612x612.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 5rem 0;
}

.hero-content {
    max-width: 100%;
    margin: 0 auto;
}

.hero-content h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero-content p {
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

.hero-content button {
    background-color: #4CAF50;
    color: white;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}

/* Featured Products Section styles */
.featured-products {
    padding: 4rem 0;
    text-align: center;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem;
}

.product-card {
    background-color: #f9f9f9;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Farmers' Posts Section styles */
.farmers-posts {
    padding: 4rem 0;
    text-align: center;
}

.post-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem;
}

.post-card {
    background-color: #f9f9f9;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Map Section styles */
.map-section {
    padding: 4rem 0;
    text-align: center;
}

/* Footer styles */
.footer {
    text-align: center;
    padding: 2rem 0;
    background-color: #333;
    color: white;
}
