/* src/components/FeaturedProduct.css */

.featured-product {
    width: 48%; /* Adjust as needed */
    display: inline-block;
    vertical-align: top;
  }
  
  /* src/components/MapSection.css */
  
  .map-section {
    width: 48%; /* Adjust as needed */
    display: inline-block;
    vertical-align: top;
    margin-left: 3px;
    height: 100vh;
  }
  
  /* Adjust the media query breakpoint as per your requirements */
  @media (max-width: 768px) {
    .featured-product,
    .map-section {
      width: 100%; /* Full width for small devices */
    }
  }
  